{% extends 'aplicacion/base.html' %}

{% block contenido %}

    <h1>Profesores</h1>
    <a href="{% url 'profesor_list' %}">Ver Profesores</a>
    <a href="{% url 'profesor_create' %}">Crear Profesores</a>

    <h1>Estudiante</h1>
    <a href="{% url 'estudiante_list' %}">Ver Estudiante</a>
    <a href="{% url 'estudiante_create' %}">Crear Estudiante</a>
    

    <h1>Cursos</h1>
    <a href="{% url 'curso_list' %}">Ver Cursos</a>
    <a href="{% url 'curso_create' %}">Crear Curso</a>
    
{% endblock contenido %}