{% extends 'core/base.html' %}


{% block contenido %}
<h1>Ver Estudiantes</h1>
<table style="margin-bottom:10px; width: 100%; border: 1px solid #000"  cellspacing="3" cellpadding="4">
    <tr style="background-color: #ccc;">
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Email</td>        
        </tr>
    {% for alumno in alumnos %}
        <tr>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellido }}</td>
                <td>{{ alumno.email }}</td>
                <td><a href="#">Modificar</a><br><a href="#">Eliminar</a></td>
            </tr>
    {% endfor %}
    </table>
    <button><a href="{% url 'alumno_create' %}">Crear Estudiante</a></button>
    <button><a href="{% url 'index' %}">Página Principal</a></button>
{% endblock contenido %}